.menu-item-color(@color, @background, @item-background, @title-bg-color) {
  color: @color;
  background: @background;
  .ym-menu-item {
    background: @item-background;
    &:hover, &:focus {
      color: ~`colorPalette("@{color}", 5)`;
      background: ~`colorPalette("@{item-background}", 5)`;
    }
    &:active, &.active {
      color: ~`colorPalette("@{color}", 7)`;
      background: ~`colorPalette("@{item-background}", 7)`;
    }
  }
  .ym-menu-submenu-title {
    background: @title-bg-color;
    &:hover, &:focus {
      background: ~`colorPalette("@{title-bg-color}", 5)`;
    }
    &:active, &.active {
      background: ~`colorPalette("@{title-bg-color}", 7)`;
    }
  }
}