@import "../../style/default";

.ym-menu {
  outline: none;
  padding-left: 0;
  list-style: none;
  z-index: 99999;
  box-shadow: @box-shadow-base;
  border-radius: 3px;
  line-height: @menu-item-height;
  margin: 0;
  box-sizing: border-box;
  li {
    list-style: none;
  }
  &-item {
    a {
      text-decoration: none;
      width: 100%;
      height: @menu-item-height;
      display: block;
      color: inherit;
    }
  }
  &-item, &-submenu-title {
    border-bottom: 1px solid @shadow-color;
  }
  &-light {
    color: @menu-color;
    background: @menu-bg-color;
    .ym-menu-item {
      &:hover, &:focus {
        color: ~`colorPalette("@{menu-color}", 5)`;
      }
      &:active, &.active {
        color: ~`colorPalette("@{menu-color}", 7)`;
      }
    }
  }
  &-dark {
    color: @menu-color-dark;
    background: @menu-bg-color-dark;
    .ym-menu-item {
      &:hover, &:focus {
        color: ~`colorPalette("@{menu-color-dark}", 5)`;
      }
      &:active, &.active {
        color: ~`colorPalette("@{menu-color-dark}", 7)`;
      }
    }
  }
}