.button-color(@color, @background, @border) {
  color: @color;
  background: @background;
  border-color: @border;
}

.button-size(@height; @padding; @font-size; @border-radius) {
  padding: @padding;
  font-size: @font-size;
  border-radius: @border-radius;
  height: @height;
}