@import "./color/colors";

@layout-header-height: 64px;
@layout-sider-width: 200px;

@shadow-color: rgba(0, 0, 0, .2);
@box-shadow-base: @shadow-1-down;
@shadow-1-up: 0 -1px 6px @shadow-color;
@shadow-1-down: 0 1px 6px @shadow-color;
@shadow-1-left: -1px 0 6px @shadow-color;
@shadow-1-right: 1px 0 6px @shadow-color;
@shadow-2: 0 2px 8px @shadow-color;

@btn-border-color: #d9d9d9;
@menu-item-height: 46px;
@btn-color-default: rgba(0, 0, 0, .65);
@btn-color-primary: white;
@btn-color-danger: @red-6;

@bg-color-default: white;
@bg-color-primary: @blue-6;
@bg-color-warning: @orange-6;
@bg-color-danger: @red-6;

@btn-height-base: 28px;
@btn-height-lg: 32px;
@btn-height-sm: 22px;

@btn-padding-base: 0 15px;
@btn-padding-lg: @btn-padding-base;
@btn-padding-sm: 0 7px;

@btn-font-size-base: 12px;
@btn-font-size-lg: @btn-font-size-base + 2px;

@btn-font-radius-base: 2px;
@btn-font-radius-lg: @btn-font-radius-base + 2px;

@menu-color: #666666;
@menu-color-dark: white;

@menu-bg-color: white;
@menu-bg-color-dark: @menu-color;
